[alias]
	ame = commit --amend --no-edit
	amed = commit --amend -v
	bla = blame -w -C -C -C
	com = commit -v
	dif = diff --staged
	fix = commit --fixup
	lol = log --graph --pretty=format:'%C(auto)%h%d%Creset %C(cyan)(%cr)%Creset %C(green)%cn <%ce>%Creset %s'
	lold = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%ci)%Creset %C(green)%cn <%ce>%Creset %s\"
	pullr = pull --rebase
	pushf = push --force-with-lease
	sta = stash save --staged -m
	swi = switch -c
[color]
	ui = auto
[core]
	autocrlf = input
	editor = nvim
	ignorecase = false
[diff]
	algorithm = patience
[pull]
	ff = only
[gc]
	pruneexpire = 90 days
[init]
	defaultBranch = main
[rerere]
	enabled = true
